/* navbar styles */
nav {
    display: flex;
    justify-content: center;
}

nav>ul {
    display: flex;
    gap: 20px;
}

nav>ul li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: blue;
    font-size: 1.25rem;
    font-weight: bold;
}

li a:hover {
    color: red;
}